.header__left {
    position: relative;
    width: auto;
}

.header__left__nav {
    display: inline;
    justify-content: left;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    float: left;
}

.header__left__nav a {
    text-decoration: none;
    color: black;
}

.header__left__nav li {
    display: inline;
    font-family: "Poppins", sans-serif;
}


.header__toolbar {
    float: right;
    position: relative;
}

.header__tool__right {
    margin-right: 30px;
    display: inline;
    font-family: "Poppins", sans-serif;
    float: right;
    padding: 10px;
}

.header__tool__right a {
    text-decoration: none;
    color: black;
}

.header__tool__right li {
    display: inline;
    font-family: "Poppins", sans-serif;
}

.header__create--button {
    background-color: orangered;
    border-radius: 25px;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-right: 50px;
    float: right;
    padding: 10px;
}

.header__create--button a {
    text-decoration: none;
    color: white;
}



/* @media screen and (max-width: 991px) {
    .header__left {
        width: 100%;
        position: absolute;
        border: none;
        left: 0;
        top: 95px;
        z-index: 999;
        box-shadow: none;
        overflow: hidden;
        padding: 0 15px;
        height: auto !important;
    }
}

@media screen and (max-width: 991px) {
    .header__left__nav {
        max-height: 100% !important;
    }
} */