@media (min-width: 990px) {
    .catering__support {
        text-align: right;
        font-size: 0.875rem;
        width: 100%;

    }
}

@media (min-width: 400px) {
    .catering__support {
        text-align: right;
        font-size: 0.875rem;
    }
}

.catering__support {
    font-size: 0.938rem;
    color: white;
    padding-right: 100px;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
}

.support__wrapper {
    height: 2rem;
    display: flex;
    background: #01abce;
    justify-content: end;
    font-size: 0.938rem;
    color: white;
    padding-right: 100px;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
}

@media screen and (max-width: 1199px) {
    .support__wrapper {
        padding: 8px 0;
    }
}