.explore {
    width: 100%;
    margin-bottom: 100px;
    display: block;

    &__container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    &__heading {
        text-align: center;
        margin-bottom: 35px;
    }

    &__title {
        text-align: center;
        font-size: 40px;
        text-transform: capitalize;
        line-height: 1.3;
        font-family: "Poppins", sans-serif;
    }

    &__sub-title {
        font-size: 18px;
        color: black;
        font-family: "Poppins", sans-serif;
        line-height: 1.7;
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        margin-right: 50px;
    }

    &__card__list {
        width: 29%;
        margin: 0 15px;
        padding: 8px;
        border-radius: 8px;
        border: solid 1px transparent;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    }

    &__card__image {
        overflow: hidden;
        border-radius: 9px 9px 0 0;
        display: inline-block;
        text-decoration: none;
        list-style: none;
    }

    &__card__description {
        padding: 30px 32px 25px;
    }

    &__card__title {
        display: inline-block;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        list-style: none;
        color: black;
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    &__card__para {
        font-size: 15px;
        color: black;
        font-family: "Poppins", sans-serif;
        line-height: 1.75;
        margin-bottom: 20px;
    }

    &__read-more {
        font-size: 15px;
        background: #e97e26;
        width: 152px;
        height: 44px;
        margin-top: 20px;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        a {
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            color: white;
        }

        &:hover {
            background-color: rgb(58, 232, 245);
        }
    }
}
