.story {
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: block;
    margin-bottom: 90px;
    background: #e9f5f9;

    &__container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    &__img {
        position: absolute;
        left: 0;
        width: 50%;
    }

    &__description {
        flex-wrap: wrap;
        align-items: flex-start;
        height: 33vw;
        justify-content: center;
        flex-direction: column;
        width: 43%;
        float: right;
        display: flex;

        &__title {
            font-family: "Poppins", sans-serif;
            line-height: 1.7;
            color: black;

            span {
                line-height: 1.3;
                display: block;
                font-size: 45px;
                font-family: "Poppins", sans-serif;
            }
        }

        &__para {
            color: black;
            font-family: "Poppins", sans-serif;
            line-height: 1.6;
        }
    }

    &__read-more {
        background: #e97e26;
        color: white;
        text-decoration: none;
        display: flex;
        font-family: "Poppins", sans-serif;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: 155px;
        height: 45px;
        border-radius: 22px;
        margin-top: 10px;

        &:hover {
            background-color: #337ab7;
        }
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
        padding: 0 0 40px;

        &__img {
            width: calc(100% + 30px);
            position: relative;
            margin-bottom: 20px;
            margin-left: -15px;
        }
    }

    @media screen and (max-width: 991px) {
        &__description {
            padding-left: 0;
            width: 100%;
            height: auto;
        }
    }

    @media screen and (max-width: 1199px) {
        &__description__title {
            font-size: 19px;
            margin-bottom: 11px;
        }
    }

    @media screen and (max-width: 991px) {
        &__description__title span {
            font-size: 38px;
        }
    }

    @media screen and (max-width: 1199px) {
        &__read-more {
            font-size: 15px;
            width: 145px;
            height: 44px;
            border-radius: 22px;
            margin-top: 6px;
        }
    }
}
